SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=


# migrations
SPRING_FLYWAY_URL=
SPRING_FLYWAY_USER=
SPRING_FLYWAY_PASSWORD=

# App Properties
MEHISEN_APP_JWT_SECRET=
MEHISEN_APP_JWT_EXPIRATION_MS=

# Infobip SMS Configuration
SMS_SERVER_BASE_URL=
SMS_SERVER_API_KEY=
SMS_SERVER_SENDER=